
####################################################################

# DocFX

###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/

#############
/html/manifest.json
*.pdf
